h1{
    text-align: center
}

p{
    text-align: center
}

.caixa-opcao{
    margin-bottom: 15%;
    display: grid;
    grid-template-columns: 39% 8% 8% 8% 8% 8% 8%;
    font-size: 14px;
    color:#ffffff;
    margin: 3%
    
}
.titulo{
    margin: 13%;
}

.travel{
margin-left: 10%;
font-size: 20px;
color: #ffffff;
margin: 0%;
}

header{
    display: grid;
    font-size:19px;
    color:#ffffff
}
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url('./css.jpg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.barra-de-pesquisa{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:grid;
    grid-template-columns: 10% 10% 10% 10%;
    align-items: center;
    justify-content:space-between;
    background-color: #ffffff;
    color: black;
    padding: -1em;
    border-left: 25%;
    margin:2%;
    border-radius: 4px;
}

#cidadeoudestino{
    border-style: none;
}

#datadaestadia, #pessoas{
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
}

